BasedOnStyle: GNU
AccessModifierOffset: -8
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: Never
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: true
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: true
  BeforeCatch:     false
  BeforeElse:      false
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
AlwaysBreakAfterReturnType: TopLevel
ColumnLimit: 119
IndentWidth: 8
NamespaceIndentation: Inner
SpaceBeforeParens: NonEmptyParentheses
UseTab: AlignWithSpaces
InsertBraces: true